* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 { font-size: 48px; }
h3 { font-size: 24px; }

.main-head {
    grid-area: header;
}

.content {
    grid-area: content;
}

.main-nav {
    grid-area: nav;
}

.side {
    grid-area: sidebar;
}

.ad {
    grid-area: ad;
}

.main-footer {
    grid-area: footer;
}

/* Padrão: Smartphone */
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";
}

/* Tela média */
@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header header"
            "nav nav"
            "sidebar content"
            "ad footer"
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}